<div ng-cloak ng-controller="CookFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">

                <div class="menuBar">
                    <ul>
                        <li><a href="#cook">Home</a></li>
                        <li><a href="#cook/profile">My profile</a></li>
                        <li><a href="#cook/calendar">Calendar</a></li>
                        <li><a href="#cook/cooksOrderItems">My order items</a></li>
                        <li><a href="#cook/unassignedOrderItems">Unassigned</a></li>
                        <li><a ng-click="logOut()">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div class="row">
                <div class="span3 well">
                    <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11873354_700863073377511_1380696414796455218_n.jpg?oh=3f5de243471754f6ff341dae29b69f14&oe=58ECF3F5" name="aboutme" width="140" height="140" class="img-circle">
                    <h3 style="color: black;">{{cook.name}} {{cook.surname}}</h3>
                    <em style="color: black;">{{cook.typeCook}}</em>
                    <br>
                    <em style="color: black;">{{cook.restaurant.rName}}</em>
                    <br>
                    <em style="color: black;">{{cook.email}}</em>
                    <br><br><br>
                    <button type="button" class="btn btn-default" ng-click="openUpdateProfileModal()">Edit your info</button>
                </div>
            </div>
        </div>
    </div>
</div>