<div ng-cloak ng-controller="GuestProfileController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">
                <div class="menuBar">
                    <li><a href="#/guest" ng-click="disconnect()">Home</a></li>
                    <li class="active"><a href="#/guest/profile">Profile</a></li>
                    <li><a href="#/guest/friends" ng-click="disconnect()">Friends</a></li>
                    <li><a href="#/guest/friendRequests" ng-click="disconnect()">Friend Requests<span class="badge" ng-if="showRequests" style="background-color: red">{{friendRequestsNumber}}</span></a></li>
                    <li><a href="#/guest/restaurants" ng-click="disconnect()">Restaurants</a></li>
                    <li><a href="#/guest/reservations" ng-click="disconnect()">Reservations</a></li>
                    <li><a href="#/" ng-click="logOut()">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div class="row">
                <div class="span3 well">
                    <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/11873354_700863073377511_1380696414796455218_n.jpg?oh=3f5de243471754f6ff341dae29b69f14&oe=58ECF3F5" name="aboutme" width="140" height="140" class="img-circle">
                    <h3>{{loggedUser.name}} {{loggedUser.surname}}</h3>
                    <em>{{loggedUser.email}}</em>
                    <br><br><br>
                    <button type="button" class="btn btn-default" ng-click="openUpdateModal()">Edit your info</button>
                </div>
            </div>
        </div>
    </div>
</div>

