<!-- Modal for user info update -->

<style>
    .modal {
        display: block;
    }

    .hide {
        display: none;
    }
    .stylish-input-group .input-group-addon{
        background: white !important;
    }
    .stylish-input-group .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{restaurant.rName}}</h4>
</div>

<div class="modal-body">

    <ng-map center="{{restaurant.latitude}}, {{restaurant.longitude}}">
        <marker position="{{restaurant.latitude}}, {{restaurant.longitude}}"></marker>
    </ng-map>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>