<div ng-cloak ng-controller="CookController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">


                <div class="menuBar">

                    <li><a href="#restaurantManager">Home</a></li>
                    <li><a href="#/restaurantManager/providers">Providers</a></li>
                    <li><a href="#/restaurantManager/tenders">Tenders</a></li>
                    <li><a href="#/restaurantManager/offers">Offers</a></li>
                    <li><a href="#/restaurantManager/waiters">Waiters</a></li>
                    <li><a href="#/restaurantManager/bartenders">Bartenders</a></li>
                    <li><a href="#/restaurantManager/cooks">Cooks</a></li>
                    <li><a href="#/restaurantManager/menu">Menu</a></li>
                    <li><a href="#/restaurantManager/mapBeverage">Map Beverage</a></li>
                    <li><a href="#restaurantManager/calendar">Calendar</a></li>
                    <li><a href="#restaurantManager/tables">Table arrangement</a></li>
                    <li><a href="#restaurantManager/statement">Reviews</a></li>
                    <li><a href="#restaurantManager/reports">Report</a></li>
                    <li><a href="#restaurantManager/chart">Chart</a></li>
                    <li><a ng-click="logOut()">Log out</a></li>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h3>Cooks</h3>

            <a ng-click="openAddModal()" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Add Cook</a>

            <table class="responstable">
                <thead>
                <tr>
                    <th>Cook name:</th>
                    <th>Cook surname:</th>
                    <th>Cook email:</th>
                    <th>Cook date of birth:</th>
                    <th>Cook dress size:</th>
                    <th>Cook shoe size:</th>
                    <!--<th>Cook restaurant:</th>-->
                    <th>Cook type:</th>
                    <th>Edit:</th>
                    <!--<th>Delete:</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in cooks">
                    <td>{{c.name}}</td>
                    <td>{{c.surname}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.date_of_birth | date}}</td>
                    <td>{{c.dress_size}}</td>
                    <td>{{c.shoe_size}}</td>
                    <!--<td>{{c.restaurant.rName}}</td>-->
                    <td>{{c.typeCook}}</td>
                    <td><a ng-click="openUpdateModal(c)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <!--<td><a ng-click="removeCook(c)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>