<div ng-cloak ng-controller="RestaurantManagerFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">

                <div class="menuBar">

                    <li><a href="#restaurantManager">Home</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/providers">Providers</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/tenders">Tenders</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/offers">Offers</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/waiters">Waiters</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/bartenders">Bartenders</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/cooks">Cooks</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/menu">Menu</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#/restaurantManager/mapBeverage">Map Beverage</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#restaurantManager/calendar">Calendar</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#restaurantManager/tables">Table arrangement</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#restaurantManager/statement">Reviews</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#restaurantManager/reports">Report</a></li>
                    <li ng-if="loggedManager.restaurant != null"><a href="#restaurantManager/chart">Chart</a></li>
                    <li><a ng-click="logOut()">Log out</a></li>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h2>“I was at this restaurant. The sign said ‘Breakfast Anytime.’ So I ordered French Toast in the Renaissance.” – Steven Wright</h2>

            <a ng-if="loggedManager.restaurant != null" ng-click="openUpdateModal()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Update Restaurant</a>

        </div>
    </div>
</div>