<div ng-cloak ng-controller="ReportController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">


                <div class="menuBar">

                    <li><a href="#restaurantManager">Home</a></li>
                    <li><a href="#/restaurantManager/providers">Providers</a></li>
                    <li><a href="#/restaurantManager/tenders">Tenders</a></li>
                    <li><a href="#/restaurantManager/offers">Offers</a></li>
                    <li><a href="#/restaurantManager/waiters">Waiters</a></li>
                    <li><a href="#/restaurantManager/bartenders">Bartenders</a></li>
                    <li><a href="#/restaurantManager/cooks">Cooks</a></li>
                    <li><a href="#/restaurantManager/menu">Menu</a></li>
                    <li><a href="#/restaurantManager/mapBeverage">Map Beverage</a></li>
                    <li><a href="#restaurantManager/calendar">Calendar</a></li>
                    <li><a href="#restaurantManager/tables">Table arrangement</a></li>
                    <li><a href="#restaurantManager/statement">Reviews</a></li>
                    <li><a href="#restaurantManager/reports">Report</a></li>
                    <li><a href="#restaurantManager/chart">Chart</a></li>
                    <li><a ng-click="logOut()">Log out</a></li>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div style="background-color:white; color: black;">
                <h3>Report</h3>

                <label>Manager name: {{loggedManager.name}} {{loggedManager.surname}}</label></br>
                <label>Restaurant name: {{loggedManager.restaurant.rName}} </label></br>
                <label>Restaurant type: {{loggedManager.restaurant.rType}} </label></br></br>


                <div style="background-color: #c9c8ba">
                    </br><label>Restaurant payments: {{avgBills | number: 2}} </label></br></br>

                    <label>Restaurant payment start: </label>
                    <input type="date" ng-model="minDate" ng-change="changeDate()">
                    <label>   </label>
                    <label>Restaurant payment end: </label>
                    <input type="date" ng-model="maxDate" ng-change="changeDate()"></br></br>
                </div>


                <div style="background-color: #59ffaa">
                    </br><label>Waiter: </label>
                    <select ng-model="waiter" ng-options="w as w.name for w in waiters" ng-change="changeWaiter()"></select>
                    <label> payment: {{avgWaiterPayment | number: 2}} </label></br></br>

                    <label>Waiter payment start: </label>
                    <input type="date" ng-model="minDateWaiter" ng-change="changeDateWaiter()">
                    <label>   </label>
                    <label>Waiter payment end: </label>
                    <input type="date" ng-model="maxDateWaiter" ng-change="changeDateWaiter()"></br></br>
                </div>
            </div>
        </div>
    </div>
</div>