<!-- Modal for user info update -->
<style>
    .modal {
        display: block;
    }

    .hide {
        display: none;
    }
    .stylish-input-group .input-group-addon{
        background: white !important;
    }
    .stylish-input-group .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Search Providers</h4>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="margin-left: 90px">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search" ng-model="providerForSearch">
                        <span class="input-group-addon">
                        <button type="submit" ng-click="search(providerForSearch)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron list-content">
        <ul class="list-group">
            <li href="#" class="list-group-item title">
                Providers
            </li>
            <li href="#" class="list-group-item text-left" ng-repeat="provider in foundProviders">
                <label class="name">
                    {{provider.name}}   {{provider.surname}}<br>
                </label>
                <label class="pull-right">
                    <a  class="btn btn-default btn-xs glyphicon glyphicon-upload" ng-click="addProvider(provider)" title="Add Provider"></a>
                </label>
                <div class="break"></div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>