<div ng-cloak ng-controller="ProviderAccountController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">


                <div class="menuBar">

                    <li><a href="#/provider">Home</a></li>
                    <li><a href="#/provider/profile" ng-click="disconnect()">Profile</a></li>
                    <li><a href="#/provider/tenders" ng-click="disconnect()">Tenders</a></li>
                    <li><a href="#/provider/offerHistory" ng-click="disconnect()">Offer History</a></li>
                    <li><a ng-click="logOut()">Logout</a></li>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h1>Welcome {{currentProvider.name}} {{currentProvider.surname}}</h1>
        </div>
    </div>
</div>