<div ng-cloak ng-controller="ProviderProfileController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">


                <div class="menuBar">

                    <li><a href="#/provider" ng-click="disconnect()">Home</a></li>
                    <li><a href="#/provider/profile">Profile</a></li>
                    <li><a href="#/provider/tenders" ng-click="disconnect()">Tenders</a></li>
                    <li><a href="#/provider/offerHistory" ng-click="disconnect()">Offer History</a></li>
                    <li><a ng-click="logOut()">Logout</a></li>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div class="row">
                <div class="span3 well">
                    <h3 style="color: black;">{{currentProvider.name}} {{currentProvider.surname}}</h3>
                    <em style="color: black;">{{currentProvider.email}}</em>
                    <br><br><br>
                    <button type="button" class="btn btn-default" ng-click="openUpdateModal()">Edit your info</button>
                </div>
            </div>
        </div>
    </div>
</div>