<!-- Modal for user info update -->
<style>
    .modal {
        display: block;
    }

    .hide {
        display: none;
    }
</style>

<div class="modal-header">
    <h4 class="modal-title">Enter New Password</h4>
</div>
<div class="modal-body">
    <form role="form">
        <label>Password</label>
        <input type="password" class="form-control form-control-lg" ng-model="newPassword" placeholder="Enter your password">
        <label>Repeat password</label>
        <input type="password" class="form-control form-control-lg" ng-model="repeatPassword" placeholder="Repeat your password">
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="updateBartenderPassword()">Change</button>
</div>