<div ng-cloak ng-controller="BartenderFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">

                <div class="menuBar">
                    <ul>
                        <li><a href="#bartender">Home</a></li>
                        <li><a href="#bartender/profile">My profile</a></li>
                        <li><a href="#bartender/calendar">Calendar</a></li>
                        <li><a href="#bartender/bartendersOrderItems">My order items</a></li>
                        <li><a href="#bartender/unassignedOrderItems">Unassigned</a></li>
                        <li><a ng-click="logOut()">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <div style="background-color:white">
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
            </div>
        </div>
    </div>
</div>