<style>
    .modal {
        display: block;
    }

    .hide {
        display: none;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Show/Update order items</h4>
</div>
<div class="modal-body">
    <h3>Order items</h3>
    <table class="responstable">
        <thead>
        <tr>
            <th>Guest:</th>
            <th>Menu:</th>
            <th>Type:</th>
            <th>Status:</th>
            <th>Ready by arrival:</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="oi in orderToShowUpdate.orderItems">
            <td>{{oi.user.name + " " + oi.user.surname}}</td>
            <td>{{oi.menu.mName}}</td>
            <td>{{oi.menu.mType}}</td>
            <td>{{oi.oiStatus}}</td>
            <td>{{oi.oiReadyByArrival}}</td>
            <td><button class="btn btn-primary" ng-disabled="oi.oiStatus!='Waiting'" ng-click="removeItem(oi)">Remove</button></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="updateOrder()">OK</button>
    <button type="button" class="btn btn-primary" ng-click="openAddOrderItemsModal()">Add item</button>
    <!--<button type="button" class="btn btn-primary" ng-click="close()">Close</button>-->
</div>