<div ng-cloak ng-controller="WaiterFunctionsController">
    <header class="main_header" style="top : 70px">
        <div class="container">
            <nav class="navbar navbar_default" role="navigation">
                <div class="menuBar">
                    <ul>
                        <li><a href="#/waiter">Home</a></li>
                        <li><a href="#waiter/profile">My profile</a></li>
                        <li><a href="#/waiter/calendar">Calendar</a></li>
                        <li><a href="#/waiter/tables">Table arrangement</a></li>
                        <li><a href="#/waiter/waitersOrders">My orders</a></li>
                        <li><a href="#/waiter/unassignedOrders">Unassigned orders</a></li>
                        <li><a ng-click="logOut()">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="carousel-caption">
            <h3>My orders</h3>

            <a ng-click="openAddNewOrderModal()" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>Add Order</a>

            <table class="responstable">
                <thead>
                <tr>
                    <th>Table number:</th>
                    <th>Order status:</th>
                    <th>Time of arrival:</th>
                    <th>Order items:</th>
                    <th>Create bill</th>
                    <th>Unassign</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="or in orders">
                    <td>{{or.restaurantTable.rtNumber}}</td>
                    <td>{{or.oStatus}}</td>
                    <td>{{or.hourOfArrival + ":" + or.minuteOfArrival}}</td>
                    <td><button class="btn btn-primary" ng-click="openShowUpdateOrderItemsModal(or)">Items</button></td>
                    <td><button class="btn btn-primary" ng-disabled="or.oStatus!='Ready'" ng-click="openCreateBillModal(or)">Bill</button></td>
                    <td><button class="btn btn-primary" ng-click="unassignOrder(or)">Unassign</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>